%h2 See our prices below:
%br
%table{class: 'table'}
  %thead
    %tr
      %th Service
      %th Price
  %tbody
    %tr
      %td Nulla dignissim erat eu semper tincidunt
      %td $200,00
    %tr
      %td Duis id augue sed magna malesuada blandit eu et metus
      %td $320,00
    %tr
      %td Curabitur vulputate magna id tellus euismod commodo
      %td $282,00
    %tr
      %td Ut at tortor fringilla, commodo neque ac, lobortis est
      %td $220,00
    %tr
      %td Sed faucibus neque a molestie vestibulum
      %td $430,00
    %tr
      %td Nunc sagittis turpis non metus faucibus, at fermentum nisi molestie
      %td $190,00
    %tr
      %td Sed rutrum augue eget felis euismod pellentesque non at sapien
      %td $900,00
    %tr
      %td Praesent facilisis felis fringilla turpis semper ultricies
      %td $230,00
    %tr
      %td Aenean dignissim mauris sit amet sem condimentum venenatis
      %td $400,00
    %tr
      %td Cras quis lectus consectetur, varius ligula quis, fermentum diam
      %td $250,00
